*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-color: hsl(235, 18%, 26%);
}

.section{
    background-color: white;
    width: 580px;
    height: 420px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    visibility: visible;
    
}

.article_box{
    /* background-color: aquamarine; */
    width: 55%;
    height: 400px;
    font-family: 'Roboto', sans-serif;
}

.article{
  margin: 25px;  
}

.p_article{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.img_list{
    width: 8%;
}
h1{
    font-size: 30px;
}
  
.custom-list li {
    color: #333;
    font-size: 12px;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
  }


 span{
    padding-left: 10px;
  }
.p_email_address{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
    margin-top: 30px;
    margin-bottom: 5px;
}

input{
    width: 230px;
    height: 30px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ccc;
}

.input_text{
    padding-left: 10px;
}

input::placeholder {
    padding-left: 10px;
  }

input:focus {
    border-color: #232425; /* Change the border color when focused */
   
  }



.img_desktopIllustration{
   height: 400px;
   margin: 10px;
}
.img_mobileIllustration{
    display:none
}

.btn{
    width: 220px;
    height: 30px;
    background-color: hsl(235, 18%, 26%);
    border: 0;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover{
    background: linear-gradient(to left, hsl(4, 100%, 67%), hsl(4, 58%, 68%));
    box-shadow: 0px 4px 12px 0px hsl(4, 39%, 56%);
}

/* styling for error */

.p_error{
    color: hsl(4, 100%, 67%);
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: end;
    margin-top: -10px;
    margin-bottom: 5px;
    font-weight: bolder;
    visibility: hidden;
}

.form-control.error input{
    border-color: hsl(4, 100%, 67%);
}
.form-control.error .p_error{
    visibility: visible;
}


/* section for sucess message */

.success_box{
    width: 260px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    margin-top: -350px;
    visibility: hidden;
}

.img_success{
    width: 40px;
    margin-bottom: 10px;
}

.success_article{
    font-family: 'Roboto', sans-serif; 
    padding: 20px;
}

.p_successArticle{
    font-size: 12px;
    padding-top: 20px;
}



.success-message.success .section{
    visibility: hidden;
}

.success-message.success .success_box{
    visibility: visible;
}

/* Media Query */

@media screen  and (max-width: 600px){
    body{
        background-color:white;
    }
    
    .section{
        background-color: white;
        width:auto;
        height: 850px;
        border-radius: 0px;
        margin-left: 0;
        margin-right: 0;
        margin-top: -100px;
        display: flex;
        flex-direction: column-reverse;
        visibility: visible;  
    }


    .img_desktopIllustration{
        height: 400px;
        margin: 0px;
        display: none;
     }
     .img_mobileIllustration{
         display: block;
         margin-top: -555px;
         width: 100%;
         height: 400px;
     } 

     .article_box{
        /* background-color: aquamarine; */
        width: auto;
        height: auto;
        font-family: 'Roboto', sans-serif;
        margin-top: -200px;
    }
    
    .article{
      margin: 25px;  
    }

    h1{
        font-size: 50px;
    }
    .p_article{
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .custom-list li {
        color: #333;
        font-size: 18px;
        line-height: 1.3;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 10px;
      }

      .p_email_address{
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight:bolder;
        margin-top: 30px;
        margin-bottom: 5px;
        
    }

    input{
        width: 320px;
        height: 55px;
        border-radius: 8px;
        outline: none;
        border: 1px solid #ccc;
     
    }

    .btn{
        width: 320px;
        height: 55px;
        background-color: hsl(235, 18%, 26%);
        border: 0;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: white;
        cursor: pointer;
        margin-top: 30px;
    }
    
    .success_box{
        width: auto;
        height: 500px;
        /* background-color: blue; */
        border-radius: 15px;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        margin-top: -580px;
        word-wrap: break-word;
        visibility: hidden;
    }

    .img_success{
        width: 60px;
        margin-bottom: 30px;
    }

    .p_successArticle{
        font-size: 18px;
        padding-top: 20px;
        line-height: 1.5;
    }
}